li {
	list-style-type: none;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.completed {
	text-decoration: line-through;
}

.taskInput {
	width: 300px;
}

#container {
	text-align: center;
}
